<div class="container">
  <% @teckels.each do |teckel| %>
    <div class="card_background">
      <%= link_to teckel.name, teckel_path(teckel), class: "d-flex justify-content-between card_title pb-0 px-3 pt-2 mb-1" %>
      <%= cl_image_tag teckel.photo.key, height: 300, width: 400, crop: :fill, class: "card_img" %>
      <div class="d-flex justify-content-between card_title pb-0 px-3 pt-2 mb-1">
        <p>Meet <%= teckel.name %></p>
        <p><i class="fa-solid fa-star"></i></p>
      </div>
      <p class="card_descr px-3"></p>
      <div class="d-flex px-3 pb-2 mt-1">
        <p class="card_price"><%= teckel.price %></p>
      </div>
    </div>
  <% end %>
</div>
