h4 {
  text-align: center;
  margin-bottom: 20px;
}

.container-payment {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.container-payment-card {
  background-color: white;
  width: 370px;
  padding: 20px 20px;
  margin-left: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-payment {
  padding: 20px 20px;
}

.card-payment-img {
  text-align: center;
  width: 300px;
  height:300px;
  margin: 0 auto;
}

.section-border {
  border: 1px solid #54BAB9;
}

.section-border-empty {
  border-bottom: none;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  color: #54BAB9;
}

.logo {
  width: 60px;
}

.img-center {
  text-align:center;
}
